body {
    font-size: 16px;
    background-image: url("white_wall_hash.png");
    background-size: 100% 100%;
    background-repeat: repeat-x;
}

header {
    width: 100%;
    height: 40px;
    padding: 10px 300px 50px 10px;
    margin-bottom: 5px;
    border-bottom: #cccccc;
    background: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

section {
    border: #dddddd;
  }

h1 {
    font-size: 28px;
    font-weight: bold;
  }

h2 {
    color: #4aaaa5;
    font-size: 24px;
  }

  h3 {
    color: #4aaaa5;
    font-size: 22x;
    font-weight: bold;
  }

.border-h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  margin: 5px 10px 10px 0px;
}

.border-h3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
}

a:link {
    color: gray;
}

a:visited {
    color: gray;
}

p {  
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
  }

footer {
    width: 100%;
    height: 17px;
    /* border-top-style: solid; */
    /* border-top: 10px; */
    /* border-top-color: #4aaaa5; */
    padding: 40px 10px 20px 20px;
    background: #666666;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }

.header-container {
    margin: auto;
    width: 960px;
    height: 60px;
    border: 3px #cccccc;
    padding: 10px; 
  }

.your-name {
      float: left;
      width: 240px;
      height: 55px;
      padding: 5px 10px 20px 20px;
      text-align: left;
      background: #4aaaa5;
      color: white;
  }

.nav-menu {
    float: right;
    width: 250px;
    height: 50px;
    margin: auto;
    text-align: center;
    padding: 20px 45px 20px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

.content-container {
    margin: auto;
    width: 960px;
    height: 700px;
    padding: 10px 10px 10px 10px;
  }

  .connect-with-me {
    float: right;
    margin: 20px 10px 10px 10px;
    padding: 20px;
    text-align: center;
    width: 270px;
    height: 150px;
    background: white;
  }

  #icons-container {
    width: 100%;
  }

  #about-me {
    float: left;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    width: 550px;
    height: 500px;
    background: white;
  }

  #about-me-image {
    float: left;
    width: 250px;
    height: 250px;
    }

  #about-me-text { 
    float: right;
    width: 300px;
    height: 250px;
   }

/* CSS Styling for Contact page. */
  #contact-me {
    float: left;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    width: 550px;
    height: 500px;
    background: white;
  }

  #contact-form {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .form-text-style {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    width: 525px;
  }

  #submit-button {
    color: white;
    background: #4aaaa5;
    padding: 10px 30px 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

/* CSS styling for the Portfolio page. */

  #portfolio {
    float: left;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    width: 550px;
    height: 500px;
    background: white;
  }

  #portfolio-image-1left {
    float: left;
    align-content: center;
    /* Added these for responsive sizing???? */
    max-width: 100%;
    height: auto;
  }

  #portfolio-image-1right {
    float: right;
    margin-right: 10px;
    align-content: center;
    max-width: 100%;
    height: auto;
  }

  #portfolio-image-2left {
    float: left;
    position: relative;
    bottom: 20px;
    align-content: center;
    max-width: 100%;
    height: auto;
  }

  #portfolio-image-2right {
    float: right;
    position: relative;
    bottom: 20px;
    margin-right: 10px;
    align-content: center;
    max-width: 100%;
    height: auto;
  }

  #portfolio-image-3left {
    float: left;
    position: relative;
    bottom: 20px;
    align-content: center;
    max-width: 100%;
    height: auto;
  }

  .portfolio-labels {
    width: 240px;
    height: 30px;
    padding: 10px 5px 0px 5px;
    position: relative;
    bottom: 50px;
    text-align: center;
    background: #4aaaa5;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
